@using _8_MVC_Views.Model
@model Department       // models data type

<html>
<head>
    <title>Details of Department @Model.Id </title>
</head>
<body>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.Description</p>
</body>
</html>